<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<style>
    button {
        background-color: #4CAF50;
        color: white;
        padding: 24px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
</style>
<body>




    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <br>
        <h1>{{posta.user}}</h1><br>
        {{posta.publishing_date}}<br />
        {{posta.title}}<br />
        <p1>{{posta.content}}</p1>

        {%if posta.image %}
        <img src="{{posta.image.url}}" style="width:100%" class="w3-margin-bottom">
        {%endif%}

        <h2>Katılımcılar</h2>
        {%if posta.katilimci %}
        {%for i in katilimcilar%}
        <h1 style="color:forestgreen;">{{i}}</h1>
        {%endfor%}
        {%endif%}<br />
       
    </div>


</body>
</html>